In [1]:
print("Hello World")

Hello World

In [2]:
a=10
a

10

In [3]:
print(a)

10

In [8]:
a=10
b=3.14
c= "Hello World"
d= True 
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
a=10
b=20
if (a>b):
 print("a is greater")
else:
 print("b is greater")

b is greater

In [1]:
s= "Hello World! My name is Jeff. How are you?"
print(s)

Hello World! My name is Jeff. How are you?

In [2]:
print("s[0]: ", s[0])

s[0]:  H

In [3]:
print("s[4]: ", s[4])

s[0]:  o

In [4]:
print("Length of string: ", len(s))

Length of string:  42

In [5]:
print("s[41]: ", s[41])

s[41]:  ?

In [9]:
print("s[-1]: ", s[-1])

s[-1]:  ?

In [10]:
print("s[-41]: ", s[-41])

s[-41]:  e

In [11]:
print("s[-42]: ", s[-42])

s[-42]:  H

In [12]:
print(s[0:6])

Hello

In [13]:
print(s[7:10])

orl

In [14]:
print(s[:5])

Hello

In [20]:
print(s[-1])

?

In [21]:
print(s[-1:-3])

In [22]:
print(s[0:6:2])

Hlo

In [23]:
print(s[-3:-1])  #3rd index from the back to the 1st index, but 1st index excluded

ou

In [24]:
print(s)

Hello World! My name is Jeff. How are you?

In [ ]:
#replace count split

In [26]:
s2="""Python is a general purpose programming language. It is very easy to learn, easy syntax and readability is one of the reasons why developers are switching to python from other programming languages.

We can use python as object oriented and procedure oriented language as well. It is open source and has tons of libraries for various implementations."""

In [27]:
print(s2)

Python is a general purpose programming language. It is very easy to learn, easy syntax and readability is one of the reasons why developers are switching to python from other programming languages.

We can use python as object oriented and procedure oriented language as well. It is open source and has tons of libraries for various implementations.

In [28]:
s2.replace("python","python3")

'Python is a general purpose programming language. It is very easy to learn, easy syntax and readability is one of the reasons why developers are switching to python3 from other programming languages.\n\nWe can use python3 as object oriented and procedure oriented language as well. It is open source and has tons of libraries for various implementations.'

In [29]:
print(s2)  #not in-place

Python is a general purpose programming language. It is very easy to learn, easy syntax and readability is one of the reasons why developers are switching to python from other programming languages.

We can use python as object oriented and procedure oriented language as well. It is open source and has tons of libraries for various implementations.

In [30]:
s2.count("python")

2

In [31]:
s3= "Hello#World#My#Name#Is#Abhishek"
s3.split("#")

['Hello', 'World', 'My', 'Name', 'Is', 'Abhishek']

In [33]:
s4= "Hello World. My name is Abhishek" #default delimiter is spacebar
s4.split()

['Hello', 'World.', 'My', 'name', 'is', 'Abhishek']

In [35]:
s4.split(".")

['Hello World', ' My name is Abhishek']

In [36]:
s4.find("World")

6

In [1]:
a=10
b=20

if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [5]:
a=17
b=22
c=15

if(a>b and a>c):
    print("a is the greatest element")
elif(b>a & b>c):
    print("b is the greatest element")
else:
    print("c is the greatest element")

b is the greatest element

In [10]:
year=2016
if(year%400==0):
    print(year, " is a leap year!")
elif(year%4==0):
    if(year%100==0):
        print(year, " is not leap year!")
    else:
        print(year, " is a leap year!")
else:
    print(year, "is not a leap year!")

2016  is a leap year!

In [12]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B") #shorthand if else

=

In [4]:
#Table of a number,  27 march program 1 in file
i=1
a= int(input("Enter number to find its table upto 10: "))
while i<=10:
    print(a,"*",i,"=",a*i)
    i=i+1

Enter number to find its table upto 10: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [9]:
#Factorial of a number , 27 march program 2

num = int(input("Find the number to find its factorial: "))
if(num==0 or num==1):
    print("Factorial of ", num, " is ", 1)
    
    
elif(num<0):
    print("Factorial for negative numbers is not defined!")

else:
    i = num
    res = 1
    while i>1:
        res*=i
        i=i-1
print("Factorial of ", num, " is ", res)

Find the number to find its factorial: 6
Factorial of  6  is  720

In [30]:
# prime number, march 27 program 3

num = int(input("Enter number to determine if its prime or not: "))
i = num//2
flag=0

if num==2:
    print(num, " is prime")
else:
    while(i>=2):
        if(num%i==0):
            flag=1
            break
        i=i-1
    if(flag==1):
        print(num, " is not prime")
    else:
        print(num, " is prime")

Enter number to determine if its prime or not: 23
23  is prime

In [35]:
#sum of digits, march 27 program 4

summ=0
num = int(input("Enter number to find its sum: "))

quo = num//10
rem=0
while(num!=0):
    rem=num%10
    summ+=rem
    rem=0
    num= num//10
print("Sum of digits is ", summ)

Enter number to find its sum: 7
Sum of digits is  7

In [1]:
subjects = ["DFS","Python","OOSE","Digital Marketing","FS"]
print(subjects)

['DFS', 'Python', 'OOSE', 'Digital Marketing', 'FS']

In [2]:
print(len(subjects))

5

In [3]:
print(subjects[2])

OOSE

In [4]:
print(subjects[:-3])

['DFS', 'Python']

In [5]:
print(subjects[1:3])

['Python', 'OOSE']

In [6]:
print(subjects[3:])

['Digital Marketing', 'FS']

In [8]:
print(subjects[-3:-2])

['OOSE']

In [13]:
def oddEven(num):
    if(num&1==0):
        print(num, " is even")
    else:
        print(num, " is odd")

num =  int(input("Enter number to find if its even or odd : "))  
oddEven(num)

Enter number to find if its even or odd : 12
12  is even

In [1]:
def linearSearch(arr, size, key):   
    for i in range(0, size):  
        if (arr[i] == key):  
            return i  
    return -1  
  
arr=[]  
size = int(input("Enter number of elements: ")) 
print("Enter the array:")
for i in range(0, size):
    element = int(input())
    arr.append(element)  
key = int(input("Enter the element to find: ")) 
    
    
linearSearch(arr,size,key)    
    
if(res == -1):  
    print("Element not found")  
else:  
    print("Element found at index: ", res)

Enter number of elements: 3
Enter the array:
1 2 3

ValueError: invalid literal for int() with base 10: '1 2 3'

In [6]:
#17-APRIL write a function that takes a state code as string and returns a string with longer name. Return null if no mapping is found

def findFullName(str):
    states ={
    "Delhi": "DL",
    "Punjab": "PJ",
    "Uttar Pradesh": "UP",
    "Madhya Pradesh": "MP",
    "Telangana": "TL",
    "Himachal Pradesh": "HP"    
    }
        
    for x,y in states.items():
        if(y==str):
          return x
          
        
    return ""
        
        
name = (input("Enter state code:"))
fullName = findFullName(name)
if(fullName==""):
  print("\nState not found")
else:
  print("\nState name:", fullName)

Enter state code: zz

State not found

In [ ]:
#17-april write a function to print all powers of 2 upto 12th power

In [9]:
#18-april define a function that accepts lower case words and returns upper case words

def toUpperCase(str):
    upperString=""
    for x in str:
        upperString += chr(ord(x)-32)
    return upperString

str = input("Enter string to be converted to uppercase")
upperStr = toUpperCase(str)
print("Upper case form: ", upperStr)

Enter string to be converted to uppercase awfawAWWGFagegeg

Upper case form:  AWFAW!77'&AGEGEG

In [2]:
num = int(input("Enter number of rows: "))

for i in range(0,num):
    print("* "*num)

Enter number of rows: 8
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [6]:
num = int(input("Enter number of rows: "))
for i in range(1,num+1):
        for j in range(0,num):
            print(i, end=" ")
        print()

Enter number of rows: 6
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6

In [7]:
num = int(input("Enter number of rows: "))
for i in range(1,num+1):
        for j in range(1,num+1):
            print(j, end=" ")
        print()

Enter number of rows: 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6
1 2 3 4 5 6

In [11]:
num = int(input("Enter number of rows: "))

for i in range(1,num+1):
        for j in range(1,num+1):
            print(chr(64+i), end=" ")
        print()

Enter number of rows: 6
A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [12]:
num = int(input("Enter number of rows: "))

for i in range(1,num+1):
        for j in range(1,num+1):
            print(chr(64+j), end=" ")
        print()

Enter number of rows: 7
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G
A B C D E F G

In [13]:
num = int(input("Enter number of rows: "))

for i in range(1,num+1):
        for j in range(1,num+1):
            print(chr(65+num-j), end=" ")
        print()

Enter number of rows: 4
D C B A
D C B A
D C B A
D C B A

In [14]:
num = int(input("Enter number of rows: "))

for i in range(1,num+1):
        for j in range(1,num+1):
            print(chr(65+num-i), end=" ")
        print()

Enter number of rows: 7
G G G G G G G
F F F F F F F
E E E E E E E
D D D D D D D
C C C C C C C
B B B B B B B
A A A A A A A

In [15]:
num = int(input("Enter number of rows: "))
for i in range(1,num+1):
    print("*"*i)

Enter number of rows: 7
*
**
***
****
*****
******
*******

In [16]:
num = int(input("Enter number of rows: "))
for i in range(1,num+1):
    print("*"*i)
for i in range(num,0,-1):
    print("*"*i)

Enter number of rows: 7
*
**
***
****
*****
******
*******
*******
******
*****
****
***
**
*

In [ ]:
num = int(input("Enter number of rows: ")) 
numcol = 2*num+1
for i in range(0,num):
    for j in range(0,numcol)

In [1]:
'''Write a program that accepts the lengths of three sides of a triangle as inputs. The
program output should indicate whether or not the triangle is a right triangle (Recall
from the Pythagorean Theorem that in a right triangle, the square of one side equals
the sum of the squares of the other two sides).'''

base=float(input("Enter length of Base : "))
perp=float(input("Enter length of Perpendicular : "))
hypo=float(input("Enter length of Hypotenuse : "))
if hypo**2==((base**2)+(perp**2)):
 print("It's a right triangle")
else:
 print("It's not a right triangle")

Enter length of Base : 3
Enter length of Perpendicular : 4
Enter length of Hypotenuse : 5
It's a right triangle